demo/tts_models--en--blizzard2013--capacitron-t2-c50/config.json
demo/tts_models--en--blizzard2013--capacitron-t2-c50/model_file.pth
/.venv
/__pycache__
/demo-jolin/src/backend/tts_models--en--blizzard2013--capacitron-t2-c50
demo-jolin/package.json
demo-jolin/src/App.js
/demo/src/backend/venv
/demo/src/backend/src/backend/torch
*.pyc
/demo/src/backend/src/backend/numba
/demo/src/backend/src/backend/nltk
/demo/src/backend/src/backend/num2words
/demo/src/backend/src/backend/networkx
/demo/src/backend/src/backend/numpy
/demo/src/backend/src/backend/matplotlib
/demo/src/backend/src/backend/language_data
/demo/src/backend/src/backend/langcodes
/demo/src/backend/src/backend/kiwisolver
/demo/src/backend/src/backend/kiwisolver-1.4.8.dist-info
/demo/src/backend/src/backend/joblib
/demo/src/backend/src/backend/joblib-1.4.2.dist-info
/demo/src/backend/src/backend/jsonlines-1.2.0.dist-info
*/dist-info/
*.pyc
/demo/src/backend/src/backend/transformers/models/trocr
/demo/src/backend/src/backend/scipy
/demo/src/backend/src/backend/setuptools
/demo/src/backend/src/backend/pytz
/demo/src/backend/src/backend/pyparsing-3.2.1.dist-info
/demo/src/backend/src/backend/pynndescent
/demo/src/backend/src/backend/pynndescent-0.5.13.dist-info
/demo/src/backend/src/backend/pygments
/demo/src/backend/src/backend/pypinyin
/demo/src/backend/src/backend/pydantic
/demo/src/backend/src/backend/pycparser
/demo/src/backend/src/backend/pycparser-2.22.dist-info
/demo/src/backend/src/backend/psutil
/demo/src/backend/src/backend/psutil-7.0.0.dist-info
/demo/src/backend/src/backend/protobuf-6.30.1.dist-info
/demo/src/backend/src/backend/pycrfsuite
/demo/src/backend/src/backend/propcache-0.3.0.dist-info
/demo/src/backend/src/backend/preshed
/demo/src/backend/src/backend/preshed-3.0.9.dist-info
/demo/src/backend/src/backend/pooch
/demo/src/backend/src/backend/propcache
/demo/src/backend/src/backend/pooch-1.8.2.dist-info
/demo/src/backend/src/backend/platformdirs
/demo/src/backend/src/backend/platformdirs-4.3.6.dist-info
/demo/src/backend/src/backend/pkg_resources
/demo/src/backend/src/backend/pillow-11.1.0.dist-info
/demo/src/backend/src/backend/PIL
/demo/src/backend/src/backend/pydantic_core
/demo/src/backend/src/backend/pydantic-2.10.6.dist-info
/demo/src/backend/src/backend/pydantic_core-2.27.2.dist-info
